<div class="container style-login">
    <div>
      <div class="style-figure">
        <figure class="w-75">
          <img src=".././../assets/img/logo.png" alt="Logo" class="w-100">
        </figure>
      </div>
      <form style="margin-top: 10%;">
        <div>
          <div class="form-group">
            <label >Correo Electrónico</label>
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label" for="exampleCheck1">Recordar credenciales</label>
          </div>
        </div>
        <div style="margin-top:55%;">
          <button routerLink="/home" class="btn btn-primary w-100">Iniciar Sesión</button>
        </div>
        <div style="margin: 5%; text-align: center;">
            <a routerLink="/register">Deseo registrarme</a>
        </div>
      </form>
    </div>
  </div>