<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>
                <div class="info">
                    <div class="title">
                        <a>{{tutorSelected.name }}</a>
                    </div>
                    <div class="desc" style="font-weight: 800">{{tutorSelected.email}}</div>
                    <div class="desc" style="text-align: justify">Soy una curiosa desarrolladora de software con casi 20 años de experiecia en el rubro empresarial, estunsiasmada de brindarte con el mayor alto nivel las tutoria que tu puedas necesitar.</div>
                    <div class="desc"> <span style="font-weight: 800">Trabaja en:</span> Tech geek S.A R.L</div>
                </div>
                <div class="bottom">
                    <a class="btn-radius btn-primary btn-sm mr-2">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn-radius btn-primary btn-sm mr-2">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <span>
                        <a class="btn-radius btn-danger btn-sm">
                        <i class="fa fa-heart"></i>
                        </a>
                        <span class="text-danger" style="font-weight: 600">
                            50
                        </span>
                     </span>

                    <a  routerLink="/chat" class="btn btn-lg btn-primary w-100 mt-4">
                        <i class="fas fa-comment-dots mr-4"></i>
                      <span>Enviar mensaje</span>
                    </a>

                </div>
            </div>

        </div>

	</div>
</div>