<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="container">
  
</div>

<i  (click)="viewSideBar()" class="fa fa-bars open-aside hidden-sm hidden-md hidden-lg text-black" style=" position: absolute;
padding: 2%;
color: white; z-index: 1;"></i>

<aside class="side-nav" id="side-nav">
  <i  *ngIf="statusSideNav" (click)="hideSideBar()" class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg"></i>

  <div class="heading">
    <img src="https://img.myloview.es/cuadros/hombre-foto-de-perfil-avatar-400-30875000.jpg" alt="">
    <div class="info">
      <h3 style="    font-size: 1rem;
      text-transform: uppercase;"><a>{{user.name}} - <small style="-size: 1rem;
        color: yellow;
        text-transform: capitalize;">{{user.typeUser}}</small></a></h3>
      <p>{{user.email}}</p>
    </div>
  </div>
  <div class="search">
    <input type="text" placeholder="Buscar"><i class="fa fa-search"></i>
  </div>
  <ul class="categories">
    <li><i class="fas fa-user cursor"></i><a>Mi cuenta</a></li>
    <li *ngIf="user.typeUser =='student'" ><i class="fas fa-user-tie"></i><a>Tutores Favoritos</a></li>
    <li><i class="fas fa-comment-dots"></i><a> Messages <span class="num dang">56</span></a></li>
    <li><i class="fa fa-power-off fa-fw"></i><a routerLink="/"> Cerrar Sesion</a></li>
  </ul>
</aside>

<section id="contents">

  <div class="welcome pt-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="content" style="text-align: center;">
            <h2>Bienvenido a My Tutor</h2>
            <p>Somos una plataforma de educacion Online, brindando solucion a tus dudas a través de tutorias.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="statistics">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <i class="fa fa-envelope fa-fw bg-primary"></i>
            <div class="info">
              <h3>1,245</h3> <span>Chat</span>
              <p>Contáctate con tus tutores</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <i class="fa fa-file fa-fw danger"></i>
            <div class="info">
              <h3>1,900</h3> <span>Asignaturas</span>
              <p>Encuentra solucion a tus problemas</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <i class="fa fa-users fa-fw success"></i>
            <div class="info">
              <h3>5,245</h3> <span>Tutores</span>
              <p>Encuentra al tutor de tu preferencia</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section *ngFor="let tutor of tutorList">
    <div class="container p-2" style="color: black;" >
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4" style="    width: 16%;
          display: flex;
          align-items: center;">
            <img style="border-radius: 50%; margin: 7%;" src="{{tutor.thumb ? tutor.thumb : 'https://img.icons8.com/color/1600/circled-user-male-skin-type-1-2.png'}} " class="card-img">
          </div>
          <div class="col-md-8" style="width: 80%;">
            <div class="card-body m-2">
              <h5 class="card-title m-2">{{tutor.name}}</h5>
              <p class="card-text" style="font-size: .9rem; font-weight: 800;">{{tutor.workPlace}}</p>
              <button id="{{tutor.id}}" (click)="tutor.id" class="btn btn-primary m-1 p-1"> <i class="fas fa-envelope"></i> Contactar</button>
              <span> <i class="fas fa-heart mr-2"></i> <span style="font-weight: 800">50</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='statis text-center'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="box bg-primary">
            <i class="fa fa-eye"></i>
            <h3>5,154</h3>
            <p class="lead">Page views</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box danger">
            <i class="fa fa-user-o"></i>
            <h3>245</h3>
            <p class="lead">User registered</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box warning">
            <i class="fa fa-shopping-cart"></i>
            <h3>5,154</h3>
            <p class="lead">Product sales</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box success">
            <i class="fa fa-handshake-o"></i>
            <h3>5,154</h3>
            <p class="lead">Transactions</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

