<!-- <div class="container t-container">
  <div class="card w-100" *ngFor="let Tweets of Tweets">
    <div class="card-header bg-white">
     <span class="font-weight-bold">Tweets </span> | <span class="font-italic text-primary">Tweets y respuestas </span> <span class="font-weight-bold">| User {{Tweets.userId}} </span> 
    </div>
    <div class="hover-card" >
      <figure class="d-inline-block align-top t-imagen-post">
          <img src="../../assets/img/twitter-post.png" class="m-4 w-75">
      </figure>
      <div class="card-body d-inline-block w-75">
        <h5 class="card-title font-weight-bold"> {{Tweets.title}} </h5>
        <p class="card-text"> {{Tweets.body}}</p>
        <a routerLink="/tweet/{{Tweets.id}}" class="btn btn-primary">Ver Tweet</a>
      </div>
    </div>
  </div> 
</div> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="container">
  
</div>

<!-- <aside class="side-nav" id="show-side-navigation1">
  <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg"></i>
  <div class="heading">
    <img src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance" alt="">
    <div class="info">
      <h3><a>Jesus Sarmiento</a></h3>
      <p>Esta es una descripcion personal de mi perfil</p>
    </div>
  </div>
  <div class="search">
    <input type="text" placeholder="Buscar"><i class="fa fa-search"></i>
  </div>
  <ul class="categories">
    <li><i class="fas fa-user"></i><a>Mi cuenta</a></li>
    <li><i class="fas fa-user-tie"></i><a>Tutores Favoritos</a></li>
    <li><i class="fas fa-comment-dots"></i><a> Messages <span class="num dang">56</span></a></li>
    <li><i class="fa fa-wrench fa-fw"></i><a> Opciones <span class="num prim">6</span></a>
    <li><i class="fa fa-laptop fa-fw"></i><a> Nosotros <span class="num succ">43</span></a></li>
  </ul>
</aside> -->

