<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="container">
  
</div>

<i  (click)="viewSideBar()" class="fa fa-bars open-aside hidden-sm hidden-md hidden-lg text-black" style=" position: absolute;
padding: 2%;
color: black;"></i>

<aside class="side-nav" id="side-nav">
  <i  *ngIf="statusSideNav" (click)="hideSideBar()" class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg"></i>

  <div class="heading">
    <img src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance" alt="">
    <div class="info">
      <h3><a>Jesus Sarmiento</a></h3>
      <p>Esta es una descripcion personal de mi perfil</p>
    </div>
  </div>
  <div class="search">
    <input type="text" placeholder="Buscar"><i class="fa fa-search"></i>
  </div>
  <ul class="categories">
    <li><i class="fas fa-user"></i><a>Mi cuenta</a></li>
    <li><i class="fas fa-user-tie"></i><a>Tutores Favoritos</a></li>
    <li><i class="fas fa-comment-dots"></i><a> Messages <span class="num dang">56</span></a></li>
    <li><i class="fa fa-wrench fa-fw"></i><a> Opciones <span class="num prim">6</span></a>
    <li><i class="fa fa-laptop fa-fw"></i><a> Nosotros <span class="num succ">43</span></a></li>
  </ul>
</aside>

