<div class="container style-login">
    <div class="w-100">
      <div>
        <h1 class="title-register">Registra tu Cuenta</h1>
        <div class="style-figure">
          <div>
            <div class="style-person-circle" (click)="selectTypeUser('tutor')" id="tutor">
                <i class="fas fa-user-tie"></i>
            </div>
            <h2 class="title-type-person">Tutor</h2>
          </div>

          <div>
            <div class="style-person-circle ml-2" (click)="selectTypeUser('student')" id="student">
                <i class="fas fa-user-tie"></i>
            </div>
            <h2 class="title-type-person">Estudiante</h2>
          </div>
        </div>
      </div>
      <form #form=ngForm (ngSubmit)="onCreateUser();">
        <div>
  
          <div class="form-group" *ngIf="typeUserSelected === 'student'">
            <label >Nombre</label>
            <input type="text" #name="ngModel" class="form-control" placeholder="Nombre" name="name" [(ngModel)]="userNew.name">
          </div>
  
          <div class="form-group" *ngIf="typeUserSelected === 'student'">
            <label >Correo</label>
            <input type="email" #email="ngModel" class="form-control" placeholder="Email" name="email" [(ngModel)]="userNew.email">
          </div>
  
          <div class="form-group" *ngIf="typeUserSelected === 'student'">
            <label >Contraseña</label>
            <input type="password" #password="ngModel" class="form-control" placeholder="Password" name="password" [(ngModel)]="userNew.password">
          </div>

          <div class="form-group" *ngIf="typeUserSelected === 'tutor'">
            <label >Nombre</label>
            <input type="text" #name="ngModel" class="form-control" placeholder="Nombre" name="name" [(ngModel)]="tutorNew.name">
          </div>
  
          <div class="form-group" *ngIf="typeUserSelected === 'tutor'">
            <label >Correo</label>
            <input type="email" #email="ngModel" class="form-control" placeholder="Email" name="email" [(ngModel)]="tutorNew.email">
          </div>
  
          <div class="form-group" *ngIf="typeUserSelected === 'tutor'">
            <label >Contraseña</label>
            <input type="password" #password="ngModel" class="form-control" placeholder="Password" name="password" [(ngModel)]="tutorNew.password">
          </div>

          <div class="form-group" *ngIf="typeUserSelected === 'tutor'">
            <label >Descripción</label>
            <input type="text" #description="ngModel" class="form-control" placeholder="Descripción" name="description" [(ngModel)]="tutorNew.description">
          </div>

          <div class="form-group" *ngIf="typeUserSelected === 'tutor'">
            <label >Lugar de trabajo</label>
            <input type="text" #workPlace="ngModel" class="form-control" placeholder="Lugar de trabajo" name="workPlace" [(ngModel)]="tutorNew.workPlace">
          </div>
  
        </div>
        <div style="margin-top: 25%;" *ngIf="typeUserSelected === 'tutor'"> 
          <button type="submit" class="btn btn-primary w-100">Registrar Cuenta</button>
        </div>

        <div style="margin-top: 25%;" *ngIf="typeUserSelected === 'student'"> 
          <button type="submit" class="btn btn-primary w-100">Registrar Cuenta</button>
        </div>
        <div style="margin: 5%; text-align: center;">
            <a routerLink="/">Deseo Iniciar Sesión</a>
        </div>
      </form>
    </div>
  </div>
    